@if(question){
    @if(question.id >= 0){
        <div class="make-question">
            <div class="make-question-head">
                <a class="make-question-number">{{ question ? question.id : id }}</a>
                <!-- <textarea id="make-question-text" class="make-question-textarea" placeholder="question title"></textarea> -->
                <app-textarea [text]="question.text" font-size="30px" placeholder="question text" (onvalue)='handleTextInput($event)'></app-textarea>
            </div>
            <div class="make-question-body">
                <div class="make-question-alternatives">
                    @for(alternative of alternatives; track alternative; let idx=$index){
                        <div class="make-question-alternative" style="background: {{ question.correct == idx ? '#00ff0050' : '#00000020' }};">
                            <div class="make-question-alternative-buttons">
                                <div class="make-question-alternative-mark" (click)="markAlternative(idx)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                    </svg>
                                </div>
                                <div class="make-question-alternative-remove" (click)="removeAlternative(idx)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                                    </svg>
                                </div>
                            </div>
                            <app-textarea style="width: 100%;" [id]="'alternative-'+idx" [text]="alternative.text" font-size="25px" placeholder="alternative text" (onvalue)='handleAlternativeTextInput($event)'></app-textarea>
                        </div>
                    }
                </div>
                <div class="make-question-add">
                    <div class="make-question-add-button" (click)="addAlternative()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                        </svg>
                    </div>
                    <app-textarea style="width: 100%;" #add_alternative_text font-size="25px" placeholder="alternative text"></app-textarea>
                </div>
            </div>
        </div>
    }
}