<div class="room-admin">
    <div class="room-admin-content">
        <div class="room-admin-board">
            <div class="room-admin-configs">
                <div class="room-admin-configs-options">
                    @if(roomService._connected_pin){
                        <app-pin [live]="true" [gen_button]="true" (generate)="onNewPin($event)"></app-pin>
                    }
                    @if(roomService.connected_room){
                        <a class="room-admin-configs-title">{{ roomService.connected_room.name }}</a>
                        @for(option of options; track option; let idx=$index){
                            @if(idx < roomService.connected_room.settings.length){
                                <app-toggle-switch #options [id]="option.id" [checked]="roomService.connected_room.settings[idx].allow" (check)="onOptionChange($event)">{{ option.text }}</app-toggle-switch>
                            }
                        }
                    }
                </div>
                <div class="room-admin-configs-bottom">
                    @if(!roomService.live_room_data.started){
                        <button (click)="start()" class="global-button">Start</button>
                        <button (click)="remove()" class="global-button">Delete</button>
                    }
                    @if(roomService.live_room_data.started){
                        <button (click)="stop()" class="global-button">Stop</button>
                    }
                </div>
            </div>
            <div class="room-admin-live-manager">
                <app-questions-list (submit)="onSubmit($event)" class="room-admin-questions-list" #questions_list></app-questions-list>
                <app-questions-list-live class="room-admin-questions-list" #questions_list_live></app-questions-list-live>
                <app-players-list class="room-admin-players-list"></app-players-list>
            </div>
        </div>
        <div class="room-admin-question">
            @if(!view_live){
                <app-make-question class="room-admin-questions-question" #make_question></app-make-question>
            }
            @if(view_live){
                <app-live-question-view class="room-admin-questions-question" #live_question></app-live-question-view>
            }
        </div>
    </div>
</div>