
@media only screen and (max-width: 1000px) {
    .room-admin-configs {
        width: calc(100% - 10px*2) !important;
    }

    .room-admin-board {
        flex-direction: column !important;
        height: 100% !important;

        &>*{
            height: 100% !important;
        }
    }

    .room-admin-live-manager {
        flex-direction: column !important;
        gap: 10px;
        width: 100% !important;

        &>*{
            width: 100% !important;
            height: 100% !important;
        }
    }

    .room-admin-questions {
        flex-direction: column !important;
        width: 60% !important;

        &>* {
            width: 100% !important;
        }

        .room-admin-questions-list {
            height: 25% !important;
        }

        .room-admin-questions-question {
            height: 75% !important;
        }
    }
}