@if(question != null){
    <div class="question">
        <div class="question-head">
            <div class="question-head-top">
                <a class="question-num">{{ question.id }}</a>
                <div class="question-head-top-timeout">
                    <span>{{ timeout_left }}</span><a>s</a>
                </div>
            </div>
            <span class="question-text">{{ question.text }}</span>
        </div>
        <div class="question-alternatives">
            @for(alternative of question.alternatives; track alternative; let index = $index){
                <div class="question-alternative" (click)="!finished ? onAlternativePick(index) : undefined">
                    <div class="question-alternative-wrap" style="width: {{ results[index]?.percent || 0 }}%"></div>
                    @if(finished){
                        <a class="question-alternative-text">{{ alternative.text }}</a>
                        <a class="question-alternative-count">{{ results[index]?.percent || 0 }}%</a>
                    }
                    @if(!finished){
                        <input class="question-alternative-check" id="alternative_{{question.id}}_{{index}}" type="radio" name="alternative_{{ question.id }}" value="{{ index }}">
                        <a class="question-alternative-text">{{ alternative.text }}</a>
                    }
                </div>
            }
        </div>
    </div>
}