<div class="room">
    <div class="room-head">
        <div class="global-row">
            <div class="room-head-pin">
                <div class="room-head-back">
                    <app-pin [live]="false" [pin]="pin"></app-pin>
                </div>
            </div>
            <div class="room-head-name">
                @if(roomService.connected_room){
                    <a>{{ roomService.connected_room.name }}</a>
                }
            </div>
        </div>
        <div class="room-head-players">
            <app-players-count></app-players-count>
            @if(username.length){
                <div class="room-head-players-player-name">
                    <a>{{ username }}</a>
                </div>
            }
        </div>
    </div>
    <div class="room-content">
        @if(roomService.live_room_data){
            @if(!roomService.live_room_data.finished){
                @if(roomService.live_room_data.started){
                    @if(finish_seconds_left >= 0){
                        <div class="room-content-countdown">
                            <a>Room finished. Ranking in {{ finish_seconds_left }} seconds</a>
                        </div>
                    }
                    @if(finish_seconds_left <= 0){
                        @if(next_seconds_left >= 0){
                            <div class="room-content-countdown">
                                <a>Next question in {{ next_seconds_left }} seconds</a>
                            </div>
                        }
                    }
                    @if(next_seconds_left < 0){
                        <div>
                            <br/>
                        </div>
                    }
                    
                    <div class="room-content-questions">
                        <app-questions-carousel #questions_carousel></app-questions-carousel>
                    </div>
                }
                @if(!roomService.live_room_data.started){
                    <div class="room-content-message">
                        <a>Waiting for start</a>
                    </div>
                }
            }
            @if(roomService.live_room_data.finished){
                <div class="room-content-ranking">
                    <div class="room-content-ranking-title">
                        <a>Room finished</a>
                    </div>
                    <app-room-ranking></app-room-ranking>
                    <app-ranking-list></app-ranking-list>
                </div>
            }
        }

        @if(roomService.live_room_data == null){
            <div class="room-content-message">
                <a>Waiting for connection</a>
            </div>
        }
    </div>
</div>