
.room {

    .room-players {
        position: absolute;
        left: 5px;
        top: 5px;
        user-select: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .room-players-player-name {
            user-select: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: white;
            padding: 5px;
            border-radius: 5px;
            font-size: 20px;
        }
    }

    .room-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;

        .room-content-message {
            padding: 10px;
            border-radius: 10px;
            font-size: 30px;
            background: white;
        }
    }
}