<div class="questions-list">
    <div class="questions-list-head">
        <div class="questions-list-head-count">
            <a>{{ questions.length }}</a>
        </div>
        <button class="global-button" (click)="createQuestion()">new question</button>
        @if(admin_mode){
            <button class="global-button" (click)="submitQuestions()">submit</button>
        }
    </div>
    <div class="questions-list-list">
        @for(question of questions; track question; let idx=$index){
            <div class="questions-list-question" (click)="viewQuestion(question)">
                <div class="questions-list-question-number">
                    <a>{{ question.id }}</a>
                </div>
                <div class="questions-list-question-text">
                    <a>{{ question.text.slice(0, 64) }}</a>
                    @if(question.text.length > 64){
                        <a class="t3dots">...</a>
                    }
                </div>
                <div class="questions-list-question-remove" (click)="deleteQuestion(idx)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                    </svg>
                </div>
            </div>
        }
    </div>
</div>