@keyframes upScale {
    from {
        scale: 0.1;
    }

    to {
        scale: 1;
    }
}

.message-box {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    background: #000000a0;
    z-index: 99999;
    overflow: hidden;
    scroll-behavior: none;
    touch-action: none;

    .message-box-content-show {
        display: flex !important;
        animation-name: upScale;
        animation-duration: 100ms;
        animation-timing-function: linear;
    }

    .message-box-content {
        display: none;
        flex-direction:  column;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        max-width: 80%;

        .message-box-head {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 20px;
            background: #00000010;
            user-select: none;
            position: relative;

            .message-box-progress-bar {
                position: absolute;
                left: 0;
                top: 0;
                width: 0%;
                height: 100%;
                background: #00000020;
            }

            .message-box-title {
                font-size: 40px;
            }
        }

        .message-box-body {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .message-box-text {

                font-size: 25px;
            }

            .message-box-input {
                color: black;
                font-size: 25px;
                padding: 5px;
            }
        }

        .message-box-confirm-input-button {
            cursor: pointer;
            width: calc(100% - 10px*2);
            padding: 10px;
            font-size: 20px;
            background: #00000020;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .message-box-confirm-prompt {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            &>*{
                width: 50%;
                padding: 10px;
                font-size: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                user-select: none;
            }
            
            .message-box-confirm-prompt-yes {
                background: #23dc5550;

                &:hover {
                    background: #23dc55b0;
                }
            }

            .message-box-confirm-prompt-no {
                background: #f70a0850;

                &:hover {
                    background: #f70a08a0;
                }
            }
        }
    }
}