<div class="create-room">
    <div class="create-room-content">
        <div class="create-room-configs">
            <div class="create-room-configs-options">
                <input type="text" class="create-room-configs-title" placeholder="room title"/>
                @for(option of options; track option){
                    <app-toggle-switch #options [id]="option.id">{{ option.text }}</app-toggle-switch>
                }
            </div>
            <div class="create-room-configs-bottom">
                <button (click)="create()" class="global-button">Create</button>
            </div>
        </div>
        <div class="create-room-questions">
            <app-questions-list class="create-room-questions-list" #questions_list></app-questions-list>
            <app-make-question class="create-room-questions-question" #make_question></app-make-question>
        </div>
    </div>
</div>