@import './create-room.component.media.scss';

.create-room {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    .create-room-content {
        padding: 10px;
        display: flex;
        min-width: calc(100% - 10px*2);
        min-height: 90vh;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        & > * {
            border-radius: 10px;
            position: relative;
            height: calc(100vh - 10px*2);;
            background: white;
        }

        .create-room-configs {
            width: calc(25% - 10px*2);
            height: calc(100vh - 10px*2*2);
            overflow-y: auto;
            overflow-x: hidden;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .create-room-configs-title {
                font-size: 20px;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
            }

            .create-room-configs-options {
                width: 99%;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }

        .create-room-questions {
            width: 75%;
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;
            flex-direction: row;
            background: transparent;
            gap: 10px;

            &>*{
                background: white;
                border-radius: 10px;
                overflow: hidden;
                overflow-y: auto;
            }

            .create-room-questions-list {
                width: 25%;
            }

            .create-room-questions-question {
                width: 75%;
            }
        }
    }
}