
.create-room {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    .create-room-content {
        padding: 10px;
        display: flex;
        min-width: calc(100% - 10px*2);
        min-height: 90vh;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        & > * {
            border-radius: 10px;
            position: relative;
            height: calc(100vh - 10px*2);;
            background: white;
        }

        .create-room-configs {
            width: 25%;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .create-room-questions {
            width: 25%;
            overflow-y: auto;
            overflow-x: hidden;

            .create-room-questions-head {
                user-select: none;

                .create-room-questions-head-create {
                    cursor: pointer;
                    font-size: 30px;
                    outline: none;
                    border: none;
                    width: 100%;
                }
            }

            .create-room-questions-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                gap: 10px;

                .create-room-questions-question {
                    position: relative;
                    background: #00000010;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 5px;
                    gap: 10px;
                    width: calc(100% - 10px*2);
                    cursor: pointer;
                    user-select: none;
                    
                    .create-room-questions-question-number {
                        color: grey;
                        font-size: 15px;
                    }
                    
                    .create-room-questions-question-text {
                        font-size: 20px;
                    }

                    .create-room-questions-question-remove {
                        position: absolute;
                        right: 1px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        color: red;
                        border-radius: 5px;
                        padding: 5px;
                        cursor: pointer;
    
                        &:hover {
                            background: #ff000020;
                        }
                    }
                }
            }
        }

        .create-room-question {
            width: 50%;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}